<div id="tagSelect"
    class="ui ribbon label red">
    <h2>ngsm-tag-select</h2>
</div>
<h3>Options</h3>
<br>

<form #ngsmTagSelectForm="ngForm"
    class="ui form"
    novalidate>
    <div class="field">
        <label for="">Some Tags</label>
        <ngsm-tag-select [id]="'keywordPicker'"
            name="keywordPicker"
            [(ngModel)]="keywords"
            [allowAdditions]="true"
            [allowClear]="true"
            [defaultTexts]="ngsmTagSelectDefaultText1"
            [url]="ngsmTagSelectRemoteUrl1"
            [clearMessage]="'Clear this shit'"
            [isRequired]="true"></ngsm-tag-select>
    </div>
</form>

<br>
<div>
    <pre>{{ngsmTagSelectForm.value|json}}</pre>
</div>