<div id="tagSelect"
    class="ui ribbon label red">
    <h2>ngsm-tag-select</h2>
</div>
<h3>Options</h3>
<br>

<form #ngsmTagSelectForm="ngForm">
    <ngsm-tag-select id="locationPicker"
        name="locationPicker"
        [(ngModel)]="locations"
        [defaultTexts]="ngsmTagSelectDefaultText1"
        [url]="ngsmTagSelectRemoteUrl1"
        [isRequired]="true"></ngsm-tag-select>

    <ngsm-tag-select id="partnerPicker"
        name="partnerPicker"
        [(ngModel)]="partners"
        [defaultTexts]="ngsmTagSelectDefaultText2"
        [url]="ngsmTagSelectRemoteUrl2"
        [isRequired]="true"></ngsm-tag-select>
</form>

<br>
<div>
    <pre>{{ngsmTagSelectForm.value|json}}</pre>
</div>

<h3>Usage</h3>
<div>
    <div [innerText]="ngsmTagSelectUsage"></div>
</div>