<div id="{{id}}"
    class="ui multiple selection fluid search dropdown"
    [ngClass]="isValidClass">
    <input name="myMultiSelect"
        type="hidden"
        [value]="innerValueString">
    <div id="{{defaultTextId}}"
        class="default text">{{defaultText}}</div>
    <div class="menu"
        *ngIf="innerValue">
        <div class="item"
            *ngFor="let item of innerValue"
            [attr.data-value]="item.id">{{item.text}}</div>
    </div>
</div>

<pre>{{innerValue|json}}</pre>
<pre>{{innerValueString|json}}</pre>